<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <% include ./elements/header%>

</head>

<body>
    <div id="wrapper">
       
        <%include ./elements/navbar-right%>
        <div id="page-wrapper">
           
            <%- body %>
        </div>
    </div>
    <% include ./elements/script%>
</body>

</html>